
.ABOUT {
    margin-top: 45px;
    display:block;
}
.HEADING {
    text-shadow: 10px 10px rgba(0, 0, 0, 0.75);
    block-size: 170px;
    font-size: 500%;
    text-align: center;
}
.HEADING h1 {
    font-weight: 900;
}
.PARAGRAPH {
    margin-top: 50px;
    text-align: center;
    padding: 30px;
    block-size: 350px;
    font-size: 300%;
}
.PARAGRAPH a {
    color: rgb(169, 147, 255);
    font-weight: 700;
}
.PARAGRAPH a:hover {
    color: rgb(96, 72, 195);
}