{% extends "base.html" %}
{% block title %}{{ page_title }}{% endblock %}
{% block CSS %}<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/about.css') }}">{% endblock %}
{% block main %}
<main>
    <section class="ABOUT">
        <div class="HEADING">
            <h1> ABOUT THIS SITE...</h1>
        </div>
        <div class="PARAGRAPH">
            <p>In this site you can view reviews EVEN if you are logged out, however to post a review, you MUST be logged into an account.</p>
        </div>
    </section>
</main>
{% endblock %}