{% extends "base.html" %}
{% block title %}{{page_title}}{% endblock %}
{% block CSS %}<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/gamelist.css') }}">{% endblock %}
{% block main %}
    <main>
        <section class="GAME-LIST">
            <h1>GAME LIST</h1>
            <div class="GAME-ROW">
                <div class="GAME"><a href="/gamelist/botw"><img src="{{ url_for('static', filename='IMG/botw.png') }}"></a></div>
                <div class="GAME"><a href="/gamelist/celeste"><img src="{{ url_for('static', filename='IMG/celeste.png') }}"></a></div>
            </div>
            <div class="GAME-ROW">
                <div class="GAME"><a href="/gamelist/dbsz"><img src="{{ url_for('static', filename='IMG/dbsz.png') }}"></a></div>
                <div class="GAME"><a href="/gamelist/deadcells"><img src="{{ url_for('static', filename='IMG/deadcells.png') }}"></a></div>
            </div>
            <div class="GAME-ROW">
                <div class="GAME"><a href="/gamelist/eldinring"><img src="{{ url_for('static', filename='IMG/eldinring.png') }}"></a></div>
                <div class="GAME"><a href="/gamelist/got"><img src="{{ url_for('static', filename='IMG/got.png') }}"></a></div>
            </div>
            <div class="GAME-ROW">
                <div class="GAME"><a href="/gamelist/hollowknight"><img src="{{ url_for('static', filename='IMG/hollowknight.png') }}"></a></div>
                <div class="GAME"><a href="/gamelist/minecraft"><img src="{{ url_for('static', filename='IMG/minecraft.png') }}"></a></div>
            </div>
            <div class="GAME-ROW">
                <div class="GAME"><a href="/gamelist/pkmn-bw"><img src="{{ url_for('static', filename='IMG/bw.png') }}"></a></div>
                <div class="GAME"><a href="/gamelist/sa2"><img src="{{ url_for('static', filename='IMG/sa2.png') }}"></a></div>
            </div>
        </section>
    </main>
{% endblock %}
