{% extends "base.html" %}
{% block title %}{{page_title}}{% endblock %}
{% block CSS %}<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/post.css') }}">{% endblock %}
{% block main %}
<main>
    <section class="POSTING">
        <div class="WRITING">
            <form class="WRITING-INFO" method="POST"> 
                <div class="SELECT-GAME">
                    <label for="game">Select a game:</label>
                    {{ form.csrf_token }}
                    {{ form.games }}
                </div>
                <input class="TITLE", type="text", placeholder="Title...", 
                cols="40", rows="1", wrap="physical", maxlength="50", name="title", id="title">
                <textarea class="REVIEW", type="text", placeholder="Write your review here...", 
                cols="40", rows="7", wrap=physical, maxlength="2000", name="review", id="review"></textarea>
                <label class="SCORE-LABEL", for="score">Score:</label>
                <input class="SCORE", type="text", placeholder="_", maxlength="1", name="score", id="score">
                <label class="SCORE-5", for="score">/5</label>
                <input class="POSTING-BUTTON", type="submit" ,name="submit", id="submit", value="POST REVIEW">
            </form>
        </div>
        
    </section>
</main>
{% endblock %}