{% extends "base.html" %}
{% block title %}{{page_title}}{% endblock %}
{% block CSS %}<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/reviews.css') }}">{% endblock %}
{% block main %}
<main>
    <ul>
        {% set ns = namespace(row=0) %}
        {% for review in reviews %}
            {% if row < row + 1 %}
                <div class="REVIEW-BOX">
                    <div class="INFO">
                        <div class="USERNAME">By: {{ reviews[ns.row].user_name }}</div>
                        <div class="TITLE">{{ reviews[ns.row].title }} - - {{ reviews[ns.row].score }}/5</div>
                        <div class="DATE"> {{ reviews[ns.row].date }}</div>
                    </div>
                    <div class="REVIEW-AREA">
                        {{ reviews[ns.row].text }}
                    </div>
                </div>

                {% set ns.row = ns.row + 1 %}

                {% if row >= review_count: %}
                    {% set ns.row = review_count - 1 %}
                {% endif%}
                
            {% endif %}
        {% endfor %}
    </ul>
</main>
{% endblock %}