{% extends "base.html" %}
{% block title %}{{page_title}}{% endblock %}
{% block CSS %}<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/login.css') }}">{% endblock %}
{% block main %}
<main>
    <section class="LOGIN-INFO">
        <form class="LOGIN" method="POST">
            <h1 class="LOG-HEAD">SIGN UP</h1>
            <label for="email">Email Address:</label><br>
            <input type="email", id="email", name="email", placeholder="my.mail@email.com"><br>
            <label for="username">Username:</label><br>
            <input type="text", id="username", name="username", placeholder="myusername123"><br>
            <label for="password">Password:</label><br>
            <input type="password", id="password", name="password", placeholder="pass123"><br>
            <input type="submit", value="SIGN UP">
        </form>
    
        <div class="OTHER-INFO">
            <a href="/login">Login</a>
        </div>
    </section>
</main>
{% endblock %}